<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.ActivityLotteryInfoDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.ActivityLotteryInfoVO">
        <id column="info_id" property="infoId" />
        <result column="member_id" property="memberId" />
        <result column="info_time" property="infoTime" />
        <result column="option_id" property="optionId" />
        <result column="bean_counts" property="beanCounts" />
        <result column="info_status" property="infoStatus" />
    </resultMap>

    <sql id="Base_Column_List">
        member_id,
        info_time,
        option_id,
        bean_counts,
        info_status,
        info_id
    </sql>

    <select id="getActivityLotteryInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity_lottery_info
        where info_id = #{PRI}
    </select>

    <insert id="insertActivityLotteryInfo" keyColumn="info_id" keyProperty="infoId" parameterType="com.hw.bean.PO.ActivityLotteryInfoPO" useGeneratedKeys="true">
        insert into activity_lottery_info (
            member_id,
            info_time,
            option_id,
            bean_counts,
            info_status,
            gmt_create,
            gmt_modified
        ) values (
            #{memberId},
            #{infoTime},
            #{optionId},
            #{beanCounts},
            #{infoStatus},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateActivityLotteryInfo" parameterType="com.hw.bean.PO.ActivityLotteryInfoPO">
        update activity_lottery_info set
            member_id = #{memberId},
            info_time = #{infoTime},
            option_id = #{optionId},
            bean_counts = #{beanCounts},
            info_status = #{infoStatus},
            gmt_modified = NOW()
        where info_id = #{infoId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryActivityLotteryInfoPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from activity_lottery_info
        WHERE info_status != -1
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryActivityLotteryInfoPage" resultType="java.lang.Integer">
        select
            count(1)
        from activity_lottery_info
        WHERE info_status != -1
    </select>

</mapper>