<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.AgentGoldenbeanInfoDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.AgentGoldenbeanInfoVO">
        <id column="info_id" property="infoId" />
        <result column="agent_id" property="agentId" />
        <result column="info_type" property="infoType" />
        <result column="bean_counts" property="beanCounts" />
        <result column="biz_id" property="bizId" />
        <result column="info_status" property="infoStatus" />
        <result column="base_counts" property="baseCounts" />
        <result column="rebate_counts" property="rebateCounts" />
    </resultMap>

    <sql id="Base_Column_List">
        agent_id,
        info_type,
        bean_counts,
        biz_id,
        info_status,
        base_counts,
        rebate_counts,
        info_id
    </sql>

    <select id="getAgentGoldenbeanInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from agent_goldenbean_info
        where info_id = #{PRI}
    </select>

    <insert id="insertAgentGoldenbeanInfo" keyColumn="info_id" keyProperty="infoId" parameterType="com.hw.bean.PO.AgentGoldenbeanInfoPO" useGeneratedKeys="true">
        insert into agent_goldenbean_info (
            agent_id,
            info_type,
            bean_counts,
            biz_id,
            info_status,
            base_counts,
            rebate_counts,
            gmt_create,
            gmt_modified
        ) values (
            #{agentId},
            #{infoType},
            #{beanCounts},
            #{bizId},
            #{infoStatus},
            #{baseCounts},
            #{rebateCounts},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateAgentGoldenbeanInfo" parameterType="com.hw.bean.PO.AgentGoldenbeanInfoPO">
        update agent_goldenbean_info set
            agent_id = #{agentId},
            info_type = #{infoType},
            bean_counts = #{beanCounts},
            biz_id = #{bizId},
            info_status = #{infoStatus},
            base_counts = #{baseCounts},
            rebate_counts = #{rebateCounts},
            gmt_modified = NOW()
        where info_id = #{infoId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryAgentGoldenbeanInfoPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from agent_goldenbean_info
        WHERE info_status != -1
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryAgentGoldenbeanInfoPage" resultType="java.lang.Integer">
        select
            count(1)
        from agent_goldenbean_info
        WHERE info_status != -1
    </select>

</mapper>