<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.AgentGoldenbeanInfoDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.AgentGoldenbeanInfoVO">
        <id column="info_id" property="infoId" />
        <result column="agent_id" property="agentId" />
        <result column="info_type" property="infoType" />
        <result column="bean_counts" property="beanCounts" />
        <result column="biz_id" property="bizId" />
        <result column="info_status" property="infoStatus" />
        <result column="base_counts" property="baseCounts" />
        <result column="rebate_counts" property="rebateCounts" />
    </resultMap>

    <resultMap id="agentGoldenbeanMapper" type="com.hw.bean.VO.AgentGoldenbeanInfoShowVO">
        <result column="agent_code" property="agentCode"/>
        <result column="agent_id" property="agentId"/>
        <result column="agent_name" property="agentName"/>
        <result column="bean_counts" property="beanCounts"/>
        <result column="info_id" property="infoId"/>
        <result column="info_type" property="infoType"/>
        <result column="record_date" property="recordDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        agent_id,
        info_type,
        bean_counts,
        biz_id,
        info_status,
        base_counts,
        rebate_counts,
        info_id
    </sql>

    <select id="getAgentGoldenbeanInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from agent_goldenbean_info
        where info_id = #{PRI}
    </select>

    <insert id="insertAgentGoldenbeanInfo" keyColumn="info_id" keyProperty="infoId" parameterType="com.hw.bean.PO.AgentGoldenbeanInfoPO" useGeneratedKeys="true">
        insert into agent_goldenbean_info (
            agent_id,
            info_type,
            bean_counts,
            biz_id,
            info_status,
            base_counts,
            rebate_counts,
            gmt_create,
            gmt_modified
        ) values (
            #{agentId},
            #{infoType},
            #{beanCounts},
            #{bizId},
            #{infoStatus},
            #{baseCounts},
            #{rebateCounts},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateAgentGoldenbeanInfo" parameterType="com.hw.bean.PO.AgentGoldenbeanInfoPO">
        update agent_goldenbean_info set
            agent_id = #{agentId},
            info_type = #{infoType},
            bean_counts = #{beanCounts},
            biz_id = #{bizId},
            info_status = #{infoStatus},
            base_counts = #{baseCounts},
            rebate_counts = #{rebateCounts},
            gmt_modified = NOW()
        where info_id = #{infoId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryAgentGoldenbeanInfoPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from agent_goldenbean_info
        WHERE info_status != -1
        AND agent_id = #{agentID}
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryAgentGoldenbeanInfoPage" resultType="java.lang.Integer">
        select
            count(1)
        from agent_goldenbean_info
        WHERE info_status != -1
        AND agent_id = #{agentID}
    </select>
    <select id="getRecordCount" resultType="java.lang.Integer" parameterType="com.hw.bean.BO.QueryAgentGBCondtion">
        SELECT
          count(1)
        FROM
            agent_info t
        LEFT JOIN agent_goldenbean_info i ON t.agent_id = i.agent_id
        WHERE
            t.agent_status = 1
            AND i.info_status = 1
        <if test="agentCode != -1">
            AND t.agent_code = #{agentCode}
        </if>
        <if test="beanCounts != -1">
            AND i.bean_counts = #{beanCounts}
        </if>
        <if test="agentName != null">
            AND t.agent_name LIKE CONCAT('%',#{agentName},'%')
        </if>
        <if test="beginDate != null">
            AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
        </if>
        <if test="endDate != null">
            AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
        </if>
    </select>
    <select id="getRecordList" resultMap="agentGoldenbeanMapper" parameterType="com.hw.bean.BO.QueryAgentGBCondtion">
        SELECT
            t.agent_id ,
            t.agent_name ,
            t.agent_code ,
            i.info_type ,
            i.bean_counts ,
            DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') record_date,
            i.info_id
        FROM
          agent_info t
        LEFT JOIN agent_goldenbean_info i ON t.agent_id = i.agent_id
        WHERE
            t.agent_status = 1
            AND i.info_status = 1
        <if test="agentCode != -1">
            AND t.agent_code = #{agentCode}
        </if>
        <if test="beanCounts != -1">
            AND i.bean_counts = #{beanCounts}
        </if>
        <if test="agentName != null">
            AND t.agent_name LIKE CONCAT('%',#{agentName},'%')
        </if>
        <if test="beginDate != null">
            AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
        </if>
        <if test="endDate != null">
            AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
        </if>
        limit #{pageIndex},#{pageSize}
    </select>

</mapper>