<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.GameResultRule29DAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.GameResultRule29VO">
        <id column="record_id" property="recordId" />
        <result column="game_type_id" property="gameTypeId" />
        <result column="game_id" property="gameId" />
        <result column="game_phase_id" property="gamePhaseId" />
        <result column="game_date" property="gameDate" />
        <result column="group_value_1" property="groupValue1" />
        <result column="group_value_2" property="groupValue2" />
        <result column="group_value_3" property="groupValue3" />
        <result column="group_sum_value" property="groupSumValue" />
        <result column="record_status" property="recordStatus" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <sql id="Base_Column_List">
        game_type_id,
        game_id,
        game_phase_id,
        game_date,
        group_value_1,
        group_value_2,
        group_value_3,
        group_sum_value,
        record_status,
        gmt_modify,
        record_id
    </sql>

    <select id="getGameResultRule29ByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from game_result_rule_29
        where record_id = #{PRI}
    </select>

    <insert id="insertGameResultRule29" keyColumn="record_id" keyProperty="recordId" parameterType="com.hw.bean.PO.GameResultRule29PO" useGeneratedKeys="true">
        insert into game_result_rule_29 (
            game_type_id,
            game_id,
            game_phase_id,
            game_date,
            group_value_1,
            group_value_2,
            group_value_3,
            group_sum_value,
            record_status,
            gmt_modify,
            gmt_create,
            gmt_modified
        ) values (
            #{gameTypeId},
            #{gameId},
            #{gamePhaseId},
            #{gameDate},
            #{groupValue1},
            #{groupValue2},
            #{groupValue3},
            #{groupSumValue},
            #{recordStatus},
            #{gmtModify},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateGameResultRule29" parameterType="com.hw.bean.PO.GameResultRule29PO">
        update game_result_rule_29 set
            game_type_id = #{gameTypeId},
            game_id = #{gameId},
            game_phase_id = #{gamePhaseId},
            game_date = #{gameDate},
            group_value_1 = #{groupValue1},
            group_value_2 = #{groupValue2},
            group_value_3 = #{groupValue3},
            group_sum_value = #{groupSumValue},
            record_status = #{recordStatus},
            gmt_modify = #{gmtModify},
            gmt_modified = NOW()
        where record_id = #{recordId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryGameResultRule29Page" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from game_result_rule_29
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryGameResultRule29Page" resultType="java.lang.Integer">
        select
            count(1)
        from game_result_rule_29
    </select>

</mapper>