<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.MemberGoldenbeanInfoDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.MemberGoldenbeanInfoVO">
        <id column="info_id" property="infoId" />
        <result column="member_id" property="memberId" />
        <result column="info_type" property="infoType" />
        <result column="bena_counts" property="benaCounts" />
        <result column="biz_id" property="bizId" />
        <result column="infp_status" property="infpStatus" />
    </resultMap>

    <resultMap id="playerGBMapper" type="com.hw.bean.VO.PlayerGoldenBeanInfoShowVO">
        <result column="bena_counts" property="beanCounts"/>
        <result column="info_id" property="infoId"/>
        <result column="info_type" property="infoType"/>
        <result column="member_name" property="playerCode"/>
        <result column="member_id" property="playerId"/>
        <result column="member_nickname" property="playerName"/>
        <result column="record_date" property="recordDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        member_id,
        info_type,
        bena_counts,
        biz_id,
        infp_status,
        info_id
    </sql>

    <select id="getMemberGoldenbeanInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_goldenbean_info
        where info_id = #{PRI}
    </select>

    <insert id="insertMemberGoldenbeanInfo" keyColumn="info_id" keyProperty="infoId" parameterType="com.hw.bean.PO.MemberGoldenbeanInfoPO" useGeneratedKeys="true">
        insert into member_goldenbean_info (
            member_id,
            info_type,
            bena_counts,
            biz_id,
            infp_status,
            gmt_create,
            gmt_modified
        ) values (
            #{memberId},
            #{infoType},
            #{benaCounts},
            #{bizId},
            #{infpStatus},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateMemberGoldenbeanInfo" parameterType="com.hw.bean.PO.MemberGoldenbeanInfoPO">
        update member_goldenbean_info set
            member_id = #{memberId},
            info_type = #{infoType},
            bena_counts = #{benaCounts},
            biz_id = #{bizId},
            infp_status = #{infpStatus},
            gmt_modified = NOW()
        where info_id = #{infoId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryMemberGoldenbeanInfoPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_goldenbean_info
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryMemberGoldenbeanInfoPage" resultType="java.lang.Integer">
        select
            count(1)
        from member_goldenbean_info
    </select>
    <select id="getPlayerGBCount" resultType="java.lang.Integer" parameterType="com.hw.bean.BO.QueryPlayerGBCondition">
      SELECT
        count(1)
      FROM
        member_info t
      LEFT JOIN member_goldenbean_info i ON t.member_id = i.member_id
      WHERE
        t.member_status = 1
        AND i.infp_status = 1
        <if test="playerCode != -1">
            AND t.member_name = #{playerCode}
        </if>
        <if test="beanCounts != -1">
            AND i.bena_counts = #{beanCounts}
        </if>
        <if test="playerName != null">
            AND t.member_nickname LIKE CONCAT('%',#{playerName},'%')
        </if>
        <if test="beginDate != null">
            AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
        </if>
        <if test="endDate != null">
            AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
        </if>
    </select>
    <select id="getPlayerGBList" resultMap="playerGBMapper" parameterType="com.hw.bean.BO.QueryPlayerGBCondition">
    SELECT
        t.member_id ,
        t.member_name ,
        t.member_nickname ,
        i.info_id ,
        i.bena_counts ,
        i.info_type,
        DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') record_date
    FROM
        member_info t
    LEFT JOIN member_goldenbean_info i ON t.member_id = i.member_id
    WHERE
        t.member_status = 1
        AND i.infp_status = 1
    <if test="playerCode != -1">
        AND t.member_name = #{playerCode}
    </if>
    <if test="beanCounts != -1">
        AND i.bena_counts = #{beanCounts}
    </if>
    <if test="playerName != null">
        AND t.member_nickname LIKE CONCAT('%',#{playerName},'%')
    </if>
    <if test="beginDate != null">
        AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
    </if>
    <if test="endDate != null">
        AND DATE_FORMAT(CONVERT_TZ(i.gmt_create ,@@SESSION .time_zone ,'+9:00') ,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
    </if>
    </select>

</mapper>