<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.MemberInfoDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.MemberInfoVO">
        <id column="member_id" property="memberId" />
        <result column="member_name" property="memberName" />
        <result column="member_nickname" property="memberNickname" />
        <result column="user_name" property="userName" />
        <result column="member_icon_url" property="memberIconUrl" />
        <result column="member_mobile" property="memberMobile" />
        <result column="member_qq" property="memberQq" />
        <result column="member_email" property="memberEmail" />
        <result column="member_wx" property="memberWx" />
        <result column="is_wxcheck" property="isWxcheck" />
        <result column="member_level" property="memberLevel" />
        <result column="member_xp" property="memberXp" />
        <result column="register_date" property="registerDate" />
        <result column="member_status" property="memberStatus" />
        <result column="extend_links" property="extendLinks" />
        <result column="parent_id" property="parentId" />
        <result column="last_ip" property="lastIp" />
        <result column="last_logintime" property="lastLogintime" />
        <result column="singin_counts" property="singinCounts" />
        <result column="login_pass" property="loginPass" />
        <result column="bank_pass" property="bankPass" />
        <result column="member_type" property="memberType" />
        <result column="game_rate" property="gameRate" />
        <result column="agent_id" property="agentID"/>
    </resultMap>
    
    <resultMap id="playerGoldenBeanMapper" type="com.hw.bean.VO.PlayerGoldenBeanShowVO">
        <result column="bean_count" property="beanCounts"/>
        <result column="member_name" property="memberCode"/>
        <result column="member_icon_url" property="memberIconUrl"/>
        <result column="member_mobile" property="memberMobile"/>
        <result column="member_nickname" property="memberNickname"/>
        <result column="user_name" property="userName"/>
        <result column="member_id" property="memberId"/>
    </resultMap>

    <sql id="Base_Column_List">
        member_name,
        member_nickname,
        user_name,
        member_icon_url,
        member_mobile,
        member_qq,
        member_email,
        member_wx,
        is_wxcheck,
        member_level,
        member_xp,
        register_date,
        member_status,
        extend_links,
        parent_id,
        last_ip,
        last_logintime,
        singin_counts,
        login_pass,
        bank_pass,
        member_type,
        game_rate,
        member_id,
        agent_id
    </sql>

    <select id="getMemberInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_info
        where member_id = #{PRI}
    </select>

    <insert id="insertMemberInfo" keyColumn="member_id" keyProperty="memberId" parameterType="com.hw.bean.PO.MemberInfoPO" useGeneratedKeys="true">
        insert into member_info (
            member_name,
            member_nickname,
            user_name,
            member_icon_url,
            member_mobile,
            member_qq,
            member_email,
            member_wx,
            is_wxcheck,
            member_level,
            member_xp,
            register_date,
            member_status,
            extend_links,
            parent_id,
            login_pass,
            bank_pass,
            member_type,
            game_rate,
            gmt_create,
            gmt_modified,
            agent_id
        ) values (
            #{memberName},
            #{memberNickname},
            #{userName},
            #{memberIconUrl},
            #{memberMobile},
            #{memberQq},
            #{memberEmail},
            #{memberWx},
            #{isWxcheck},
            #{memberLevel},
            #{memberXp},
            #{registerDate},
            #{memberStatus},
            #{extendLinks},
            #{parentId},
            #{loginPass},
            #{bankPass},
            #{memberType},
            #{gameRate},
            NOW(),
            NOW(),
            #{agentID}
        )
    </insert>

    <update id="updateMemberInfo" parameterType="com.hw.bean.PO.MemberInfoPO">
        update member_info set
            member_nickname = #{memberNickname},
            user_name = #{userName},
            member_icon_url = #{memberIconUrl},
            member_mobile = #{memberMobile},
            member_qq = #{memberQq},
            member_email = #{memberEmail},
            member_wx = #{memberWx},
            member_level = #{memberLevel},
            member_status = #{memberStatus},
            extend_links = #{extendLinks},
            gmt_modified = NOW()
        where member_id = #{memberId}
    </update>
    <update id="resetMemberInfo" parameterType="com.hw.bean.PO.MemberInfoPO">
        update member_info set
            member_nickname = #{memberNickname},
            user_name = #{userName},
            member_icon_url = #{memberIconUrl},
            member_qq = #{memberQq},
            member_email = #{memberEmail},
            gmt_modified = NOW()
        where member_id = #{memberId}
    </update>
    <update id="resetPassword" parameterType="com.hw.bean.PO.MemberInfoPO">
        update member_info set
          login_pass = #{loginPass},
          gmt_modified = NOW()
        where member_id = #{memberId}
    </update>
    <update id="resetBankPassword" parameterType="com.hw.bean.PO.MemberInfoPO">
        update member_info set
          bank_pass = #{bankPass},
          gmt_modified = NOW()
        where member_id = #{memberId}
    </update>
    <update id="resetStatus" parameterType="com.hw.bean.PO.MemberInfoPO">
        update member_info set
          member_status = #{memberStatus},
          gmt_modified = NOW()
        where member_id = #{memberId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryMemberInfoPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_info
        <where>
            member_status != -1
        <if test="playerCode != null">
            AND member_name LIKE CONCAT('%',#{playerCode},'%')
        </if>
        <if test="mobile != null">
            AND member_mobile LIKE CONCAT('%',#{mobile},'%')
        </if>
        <if test="nickName != null">
            AND member_nickname LIKE CONCAT('%',#{nickName},'%')
        </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryMemberInfoPage" resultType="java.lang.Integer">
        select
            count(1)
        from member_info
        <where>
            member_status != -1
            <if test="playerCode != null">
                AND member_name LIKE CONCAT('%',#{playerCode},'%')
            </if>
            <if test="mobile != null">
                AND member_mobile LIKE CONCAT('%',#{mobile},'%')
            </if>
            <if test="nickName != null">
                AND member_nickname LIKE CONCAT('%',#{nickName},'%')
            </if>
        </where>
    </select>
    <select id="exist" resultType="java.lang.Integer">
        SELECT count(1) FROM member_info WHERE member_mobile = #{account} and member_status != -1
    </select>
    <select id="existByUser" resultType="java.lang.Integer">
        SELECT count(1) FROM member_info WHERE member_mobile = #{account} and member_status != -1 and member_id != #{userID}
    </select>
    <select id="getPageListByAgent" parameterType="com.hw.bean.BO.QueryMemberInfoByAgent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_info
        <where>
            member_status != -1
            <if test="playerCode != null">
                AND member_name LIKE CONCAT('%',#{playerCode},'%')
            </if>
            <if test="mobile != null">
                AND member_mobile LIKE CONCAT('%',#{mobile},'%')
            </if>
            <if test="agentID != -1">
                AND agent_id = #{agentID}
            </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="getPageListCountByAgent" parameterType="com.hw.bean.BO.QueryMemberInfoByAgent" resultType="java.lang.Integer">
        select
          count(1)
        from member_info
        <where>
            member_status != -1
            <if test="playerCode != null">
                AND member_name LIKE CONCAT('%',#{playerCode},'%')
            </if>
            <if test="mobile != null">
                AND member_mobile LIKE CONCAT('%',#{mobile},'%')
            </if>
            <if test="agentID != -1">
                AND agent_id = #{agentID}
            </if>
        </where>
    </select>
    <select id="getPlayerCount" resultType="java.lang.Integer" parameterType="com.hw.bean.BO.QueryMemberInfoPage">
        SELECT
            count(1)
        FROM
            member_info t
        LEFT JOIN member_goldenbaen g ON t.member_id = g.member_id
        WHERE
            t.member_status = 1
        <if test="playerCode != null">
            AND t.member_name LIKE CONCAT('%',#{playerCode},'%')
        </if>
        <if test="nickName != null">
            AND member_nickname LIKE CONCAT('%',#{nickName},'%')
        </if>
        <if test="mobile != null">
            AND t.member_mobile LIKE CONCAT('%',#{mobile},'%')
        </if>
    </select>
    <select id="getPlayerList" resultMap="playerGoldenBeanMapper" parameterType="com.hw.bean.BO.QueryMemberInfoPage">
        SELECT
            t.member_id ,
            t.member_name ,
            t.member_nickname ,
            t.user_name ,
            t.member_icon_url ,
            t.member_mobile ,
            IFNULL(g.bean_count , 0) bean_count
        FROM
            member_info t
        LEFT JOIN member_goldenbaen g ON t.member_id = g.member_id
        WHERE
            t.member_status = 1
        <if test="playerCode != null">
            AND t.member_name LIKE CONCAT('%',#{playerCode},'%')
        </if>
        <if test="nickName != null">
            AND member_nickname LIKE CONCAT('%',#{nickName},'%')
        </if>
        <if test="mobile != null">
            AND t.member_mobile LIKE CONCAT('%',#{mobile},'%')
        </if>
        limit #{pageIndex},#{pageSize}
    </select>

</mapper>