<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.MemberSigninInfoDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.MemberSigninInfoVO">
        <id column="info_id" property="infoId" />
        <result column="member_id" property="memberId" />
        <result column="signin_date" property="signinDate" />
        <result column="bean_counts" property="beanCounts" />
        <result column="info_status" property="infoStatus" />
    </resultMap>

    <sql id="Base_Column_List">
        member_id,
        signin_date,
        bean_counts,
        info_status,
        info_id
    </sql>

    <select id="getMemberSigninInfoByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_signin_info
        where info_id = #{PRI}
    </select>

    <insert id="insertMemberSigninInfo" keyColumn="info_id" keyProperty="infoId" parameterType="com.hw.bean.PO.MemberSigninInfoPO" useGeneratedKeys="true">
        insert into member_signin_info (
            member_id,
            signin_date,
            bean_counts,
            info_status,
            gmt_create,
            gmt_modified
        ) values (
            #{memberId},
            #{signinDate},
            #{beanCounts},
            #{infoStatus},
            NOW(),
            NOW()
        )
    </insert>

    <update id="updateMemberSigninInfo" parameterType="com.hw.bean.PO.MemberSigninInfoPO">
        update member_signin_info set
            member_id = #{memberId},
            signin_date = #{signinDate},
            bean_counts = #{beanCounts},
            info_status = #{infoStatus},
            gmt_modified = NOW()
        where info_id = #{infoId}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QueryMemberSigninInfoPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_signin_info
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QueryMemberSigninInfoPage" resultType="java.lang.Integer">
        select
            count(1)
        from member_signin_info
    </select>

</mapper>