<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hw.dao.SysRelationRoleResourceDAO">

    <resultMap id="BaseResultMap" type="com.hw.bean.VO.SysRelationRoleResourceVO">
        <id column="info_id" property="infoId" />
        <result column="role_id" property="roleId" />
        <result column="resource_id" property="resourceId" />
        <result column="resource_type" property="resourceType" />
        <result column="info_status" property="infoStatus" />
    </resultMap>

    <resultMap id="menuResultMap" type="com.hw.bean.VO.SysMenuVO">
        <id column="menu_id" property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="menu_desc" property="menuDesc" />
        <result column="menu_url" property="menuUrl" />
    </resultMap>

    <sql id="Base_Column_List">
        role_id,
        resource_id,
        resource_type,
        info_status,
        info_id
    </sql>

    <select id="getSysRelationRoleResourceByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_relation_role_resource
        where info_id = #{PRI}
    </select>

    <insert id="insertSysRelationRoleResource" keyColumn="info_id" keyProperty="infoId" parameterType="com.hw.bean.PO.SysRelationRoleResourcePO" useGeneratedKeys="true">
        insert into sys_relation_role_resource (
            role_id,
            resource_id,
            resource_type,
            info_status,
            gmt_create,
            gmt_modified
        ) values (
            #{roleId},
            #{resourceId},
            #{resourceType},
            #{infoStatus},
            NOW(),
            NOW()
        )
    </insert>
    <insert id="addResources" parameterType="java.util.List">
        insert into sys_relation_role_resource (
            role_id,
            resource_id,
            resource_type,
            info_status,
            gmt_create,
            gmt_modified
        ) values
        <foreach collection ="list" item="po" index= "index" separator =",">
        (
            #{po.roleId},
            #{po.resourceId},
            #{po.resourceType},
            #{po.infoStatus},
            NOW(),
            NOW()
        )
        </foreach>
    </insert>

    <update id="updateSysRelationRoleResource" parameterType="com.hw.bean.PO.SysRelationRoleResourcePO">
        update sys_relation_role_resource set
            role_id = #{roleId},
            resource_id = #{resourceId},
            resource_type = #{resourceType},
            info_status = #{infoStatus},
            gmt_modified = NOW()
        where info_id = #{infoId}
    </update>
    <update id="removeResource">
        update sys_relation_role_resource set
          info_status = -1
        where role_id = #{roleID}
    </update>

    <select id="getPageList" parameterType="com.hw.bean.BO.QuerySysRelationRoleResourcePage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_relation_role_resource
        AND info_status != -1
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getPageCount" parameterType="com.hw.bean.BO.QuerySysRelationRoleResourcePage" resultType="java.lang.Integer">
        select
            count(1)
        from sys_relation_role_resource
        AND info_status != -1
    </select>

    <select id="getResourceListByRoleID" resultMap="menuResultMap">
        SELECT
            m.menu_id ,
            m.menu_name ,
            m.menu_desc ,
            m.menu_url
        FROM
            sys_relation_role_resource t
        LEFT JOIN sys_menu m ON t.resource_id = m.menu_id
        WHERE t.info_status = 1
        AND m.menu_status = 1
        AND t.role_id = #{roleID}
    </select>

</mapper>